PORT=3000
SESSION_SECRET=change-me
SESSION_TTL_SECONDS=43200
SESSION_COOKIE_SECURE=false
REDIS_URL=redis://localhost:6379
FRONTEND_ORIGIN=http://localhost:4200
OPEN_FINANCE_USERNAME=
OPEN_FINANCE_PASSWORD=
OPEN_FINANCE_LOG_LOGIN_PAYLOAD=false
TICKET_OWNER_CLASSIFICATION_ENABLED=true
DATABASE_HOST=localhost
DATABASE_PORT=5440
DATABASE_NAME=gerador_ticket_openfinance
DATABASE_USER=gerador_ticket_user
DATABASE_PASSWORD=gerador_ticket_password
OPEN_FINANCE_API_BASE_URL=https://servicedesk.openfinancebrasil.org.br
